Cython==0.20.1
Flask==0.9
Flask-Admin==1.0.4
Flask-Bootstrap==2.2.2-1
Flask-Cache==0.10.1
Flask-FlatPages==0.3
Flask-Gravatar==0.2.4
Flask-Login==0.1.3
Flask-Mail==0.7.4
Flask-OpenID==1.2.1
Flask-PyMongo==0.2.1
Flask-Restless==0.9.1
Flask-SQLAlchemy==0.16
Flask-Themes==0.1.3
Flask-Uploads==0.1.3
Flask-WTF==0.8.2
Flask-WhooshAlchemy==0.55
Jinja2==2.6
Markdown==2.2.1
MarkupSafe==0.23
MySQL-python==1.2.4
Orange==2.7.5
PIL==1.1.7
PyBrain==0.3
PySAL==1.7.0
PyYAML==3.10
SQLAlchemy==0.8.0b2
Theano==0.6.0
WTForms==1.0.3
WebOb==1.4
Werkzeug==0.8.3
Whoosh==2.6.0
argparse==1.2.1
atlas==0.27.0
blinker==1.2
colorama==0.2.7
decorator==3.4.0
gensim==0.10.0rc1
gunicorn==19.0.0
httplib2==0.9
itsdangerous==0.24
matplotlib==1.3.1
mysql-connector-python==1.0.12
networkx==1.8.1
neurolab==0.3.4
nltk==2.0.4
nose==1.3.0
numpy==1.7.2rc1
oauth2==1.5.211
oauthlib==0.6.3
panda==0.1.4
peewee==2.1.6
pp==1.6.4
py==1.4.19
pycuda==2013.1.1
pymongo==2.5.1
pyparsing==2.0.1
pytest==2.5.0
python-dateutil==1.5
python-openid==2.2.5
python-twitter==1.1
pytools==2013.5.7
pywin32==218
requests==2.3.0
requests-oauthlib==0.4.1
scikit-learn==0.14.1
scipy==0.13.1
simplejson==3.5.2
six==1.4.1
threadpool==1.2.7
tweepy==2.3.0
twitter==1.14.3
webapp2==2.5.2
wsgiref==0.1.2
