packages: 
  yum:
    gcc: []
    gcc-c++: []
    gcc-gfortran: []
    readline-devel: []
    python-devel: []
    make: []
    atlas: []
    blas: []
    lapack-devel: []
    blas-devel: []
    atlas-devel: []

option_settings:
  "aws:elasticbeanstalk:container:python:staticfiles":
    "/app/static/": "static/"