

body {
	margin-top: 0;
	padding-top: 40px;
	text-align: left;
	font-family:"Adobe Garamond Pro Bold", Georgia, "Times New Roman", Times, serif;
	font-size: 13px;
	color: #061C37;
	background: #014D5D url(../img/background.png);
	background-repeat:repeat-x;
}
*
{
  margin: 0 auto 0 auto;
 text-align:left;}


#page
{
  display: block; 
  height:auto;
  position: relative; 
  overflow: hidden; 
  width: 670px;
}

.topNaviagationLink
{
text-align:center;
position:relative;
margin-top:30px;
font-size:16px;
margin-left:-10px;
width:121px;
height: 35px;
line-height: 35px;
float:left;
color:#CEEAEE;
font-family:"Adobe Garamond Pro Bold", Georgia, "Times New Roman", Times, serif;
}


.topNaviagationLink a
{
text-decoration:none;
color:#CDE2FC;
}

.topNaviagationLink a:hover
{
text-align:center;
border-bottom:none;
color:#0C61C9;
display: block;
width:121px;
height: 35px;
line-height: 35px;
background-image:url(../img/tab.png);

}


#mainPicture
{
width:670px;
height:345px;
background-color:#FFFFFF;
}

#mainPicture
{
width:670px;
height:345px;
background-color:#FFFFFF;
}

#mainPicture .picture
{
position:relative;
width:650px;
height:325px;
top:10px;
background-image:url(../img/detector.jpg);
background-size: 650px 325px;
background-repeat:no-repeat;
margin-left:10px;
}

#headerTitle
{
position:relative;
top:-110px;
left:190px;
font-size:30px;
color:#FFFFFF;
font-family:"Adobe Garamond Pro Bold", Georgia, "Times New Roman", Times, serif;
}

#headerSubtext
{
position:relative;
top:-110px;
left:210px;
font-size:18px;
color:#A9C8FA;
font-family:"Adobe Garamond Pro Bold", Georgia, "Times New Roman", Times, serif;
}

textarea {
border: 1px solid #001F6C;
	border-radius: 5px;
	height: 60px;
	width: 230px;
	font: normal 16px verdana;
}

.contentBox
{
width:670px;
min-height:250px;
background-color:#FFFFFF;
margin-top:10px;
}
/* height:auto; 250 200 */

.contentBox .innerBox
{
position:relative;
width:650px;
min-height:200px;
top:10px;
margin-left:10px;
background-image:url(../img/content_back.png);
background-repeat:repeat-x;
padding-bottom:35px;
}

.contentTitle
{
font-size:19px;
margin-bottom:0px;
padding-top:18px;
margin-left:15px;
margin-top:15px;
}

.contentText
{
font-size:13px;
line-height:24px;
margin-left:13px;
margin-right:13px;
}

#footer {

width: 670px;
height:16px;
background: url(../img/footer.png) no-repeat;
text-align:center;
font-size:9px;
font-family:Arial, Helvetica, sans-serif;
color:#386172;
padding-top:5px;
}

#footer a
{
text-decoration:none;
font-size:9px;
color:#386172;
}

html, body {
text-align: center;
}
p {text-align: left;}


.prettybutton {
	-moz-box-shadow:inset 0px 1px 0px 0px #97c4fe;
	-webkit-box-shadow:inset 0px 1px 0px 0px #97c4fe;
	box-shadow:inset 0px 1px 0px 0px #97c4fe;
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #3d94f6), color-stop(1, #1e62d0) );
	background:-moz-linear-gradient( center top, #3d94f6 5%, #1e62d0 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#3d94f6', endColorstr='#1e62d0');
	background-color:#3d94f6;
	-webkit-border-top-left-radius:20px;
	-moz-border-radius-topleft:20px;
	border-top-left-radius:20px;
	-webkit-border-top-right-radius:20px;
	-moz-border-radius-topright:20px;
	border-top-right-radius:20px;
	-webkit-border-bottom-right-radius:20px;
	-moz-border-radius-bottomright:20px;
	border-bottom-right-radius:20px;
	-webkit-border-bottom-left-radius:20px;
	-moz-border-radius-bottomleft:20px;
	border-bottom-left-radius:20px;
	text-indent:0;
	border:1px solid #337fed;
	display:inline-block;
	color:#ffffff;
	font-family:Arial;
	font-size:15px;
	font-weight:bold;
	font-style:normal;
	height:40px;
	line-height:40px;
	width:86px;
	text-decoration:none;
	text-align:center;
	text-shadow:1px 1px 0px #1570cd;
}
.prettybutton:hover {
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #1e62d0), color-stop(1, #3d94f6) );
	background:-moz-linear-gradient( center top, #1e62d0 5%, #3d94f6 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#1e62d0', endColorstr='#3d94f6');
	background-color:#1e62d0;
}.prettybutton:active {
	position:relative;
	top:1px;
}