<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" href="../static/img/favicon.png">

    <title>The sarcasm detector</title>

    <!-- Bootstrap -->
    <link href="../static/css/bootstrap.css" rel="stylesheet">
	<link href="../static/css/bootstrap-theme.css" rel="stylesheet">

    <!-- siimple style -->
    <link href="../static/css/style.css" rel="stylesheet">
    
    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->
  </head>

  <body>

    <!-- Fixed navbar -->
    <div class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="{{url_for('main')}}">Home</a>
        </div>
        <div class="navbar-collapse collapse">
          <ul class="nav navbar-nav navbar-right">
            <li><a href="{{url_for('about')}}">About</a></li>
			<li><a href="{{url_for('contact')}}">Contact</a></li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </div>

	<div id="header">
		<div class="container">
			<div class="row">
				<div class="col-lg-6">
					<h1>The sarcasm detector</h1>
					<h2 class="subtitle">Learning sarcasm from tweets!</h2>

			</div>
		</div>
	</div>

<br/>


<div class="container2" >
			<form class="form-search" style="text-align:center;" >	
<textarea style="width:100%"rows="2" name="sentence" class="input-lg" placeholder="Enter a sentence to test here."></textarea>
<br/>
					  <a href="#" id=calculate button type="submit" class="btn btn-warning btn-lg" style="color: #FFFFFF">Test</a>
<div class="container3">
 <div id="gauge" style="width:300px; height:240px"></div> 
</div>

					</form>	

			</div>
				</div>
									    <script src="../static/js/bootstrap.min.js"></script>

    <script src="../static/js/jquery-1.11.1.min.js"></script>
<script src="../static/js/raphael.2.1.0.min.js"></script>
    <script src="../static/js/justgage.1.0.1.min.js"></script>


<script type=text/javascript>
  $SCRIPT_ROOT = {{ request.script_root|tojson|safe }};
</script>

<script type=text/javascript>

  $(function() {
    $('a#calculate').bind('click', function() {
      $.getJSON($SCRIPT_ROOT + '/_compute', {
        sentence: $('textarea[name="sentence"]').val()}, function(data) {
        $("#result").text(data.result);
	   g.refresh(data.result);
      });
      return false;
    });
  });

var g;
  var g = new JustGage({
    id: "gauge", 
    value: 0, 
    min: -100,
    max: 100,
    gaugeWidthScale : 1.0,
    levelColors : [  "#FFFF00", "#32127a",  "#FF0000" ],
    title: "Sarcasm Percentage",
    titleFontColor : "#000099",
    labelFontColor : "black"
  }); 
</script>




  </body>
</html>
